
// colors
$color-primary: #0042C6; 
$color-black: #222222;
$color-darkGrey: #74716E;
$color-white: #ffffff;
$color-primary-light : #487AD5;
$color-add-room: #3171C9;
$color-label : #222222;
$color-boxShadow-1 : #0000004D;
$color-border : #DFDFDF;
$color-border-2 :#D0CBC9;
$color-yellow: #FFD212;
$color-green : #027a02;
$color-hover : #F4F8FC;
$color-boxShadow-2 : drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.20));
$color-boxShadow-3 : drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.10));
$basic-font-size: 16px;
$basic-font-weight: 300;
$flex : flex;
$justify-between : space-between;
$center : center ;