#DestinationId {
    .DestinationContainer {
        margin-top: 20px;
        max-width: 1214px;
        width: 100%;
        &__heading {
            font-size: 22px;
            font-weight: 500;
        }
        &__subHeading {
            font-size: 18px;
            font-weight: 300;
        }
        &__CardContainer {
            display: flex;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-snap-points-x: repeat(3rem);
            >* {
                flex-shrink: 0;
                scroll-snap-align: start;
            }
            margin-top: 28px;
            gap: 30px;

            @include media-breakpoint(sm) {
                gap: 15px;
        
            }
            &__card {
                width: 269px;
                margin-top: 20px;
                border-radius: 12px;
                border: 1px solid $color-border;
                background: $color-white;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

                @include media-breakpoint(xl) {
                    width: 48%;
            
                }
                @include media-breakpoint(sm) {
                    width: 78%;
            
                }
                &__content {
                    padding: 10px 15px;

                    .heading {
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .text {
                        height: 40px;

                        @include media-breakpoint(sm) {
                            height: 62px;
                    
                        }
                    }
                    .image {
                        width: 100%;
                    }

                    .packages {
                        font-weight: 600;
                        margin-top: 14px;
                        margin-bottom: 10px;
                    }
                }

                &__media {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .DestinationScroll::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .DestinationScroll {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
}